This notebook is provided as basic demonstration of use of the pmapUtilities R package, developed by Luke C. Mullany, PhD MS MHS, and available at https://github.com/lmullany/pmapUtilities.git and can be installed using `devtools::install_github("lmullany/pmapUtilities")`

- **Platform Tool** : Jupyter/RStudio Crunchr Compute Containers
- **Programming Language**: R (>=3.6)
- **Author(s)** : Luke C. Mullany
- **Last Updated** : February 3rd, 2022

## Basic use of pmapUtilities R package

#### Clear workspace and load libraries

In [1]:
rm(list=ls())
library(pmapUtilities)

#### Generate a connection to the database

In [2]:
de = get_sql_connection("CAMP_PMCoE_Projection",username = "lmullan1")

Enter Password for lmullan1:  ·········

#### Show all the tables in this database

In [3]:
list_tables(engine=de)

   table
1  patients
2  encounters
3  labs
4  meds
5  problemlist
6  procedures
7  symptoms
8  vitals_BP
9  vitals_height
10 vitals_pulse
11 vitals_respiration
12 vitals_temperature
13 vitals_weight
14 sysdiagrams
15 projection_status

#### Call the same function, but this time ask for dimensions (`show_dimensions = TRUE`)

In [4]:
list_tables(engine=de,show_dimensions = TRUE, exact=T)

   table              rows    cols
1  patients             60676  5
2  encounters          753484  4
3  labs               3509868 12
4  meds                631022 10
5  problemlist         781379  4
6  procedures         5550672  6
7  symptoms           1967436  5
8  vitals_BP          1061684  7
9  vitals_height       305612  7
10 vitals_pulse       1227099  7
11 vitals_respiration  957677  7
12 vitals_temperature  805345  7
13 vitals_weight       406052  7
14 sysdiagrams              0  5
15 projection_status        0  9

#### List columns for a particular table

In [5]:
print(list_columns("encounters",engine=de))

[1] "osler_id"       "encounter_id"   "encounter_type" "encounter_date"

#### Get the number of rows and columns for just one table (rather than all tables, see above)

In [6]:
dims = get_table_dim("encounters", engine=de, exact = T)
print(dims)

  rows   cols
753484      4

#### Return a lazy handle to the table
Note that this feature is using dplyr/dbplyr under the hood, which enables us to translate dplyr verbs into SQL and execute on the table without pulling all rows from the table

In [7]:
encounters = return_table("encounters", engine=de)
encounters

# Source:   table<dbo.encounters> [?? x 4]
# Database: Microsoft SQL Server 13.00.5830[@ESMPMDBPR4/CAMP_PMCoE_Projection]
   osler_id                             encounter_id encounter_type encounter_date
   <chr>                                       <int> <chr>          <dttm>
 1 5303550b-8ed2-42fd-885a-d32b308b05f3        17938 Office Visit   2015-10-10 00:00:00
 2 5303550b-8ed2-42fd-885a-d32b308b05f3       142706 Office Visit   2016-01-24 00:00:00
 3 5303550b-8ed2-42fd-885a-d32b308b05f3       571465 Office Visit   2017-03-19 00:00:00
 4 5303550b-8ed2-42fd-885a-d32b308b05f3       432470 Office Visit   2016-10-22 00:00:00
 5 5303550b-8ed2-42fd-885a-d32b308b05f3       410795 Office Visit   2016-10-01 00:00:00
 6 5303550b-8ed2-42fd-885a-d32b308b05f3       631974 Office Visit   2017-05-08 00:00:00
 7 5303550b-8ed2-42fd-885a-d32b308b05f3       483944 Office Visit   2016-12-10 00:00:00
 8 5303550b-8ed2-42fd-885a-d32b308b05f3       411794 Office Visit   2016-10-03 00:00:00
 9 5303550b-8ed2-42fd-885a-d32b308b05f3       324374 Office Visit   2016-07-11 00:00:00
10 5303550b-8ed2-42fd-885a-d32b308b05f3       705948 Office Visit   2017-07-19 00:00:00
# ... with more rows

For example, we can do "SELECT encounter_type, count() as CT from encounters group by encounter_type ORDER BY COUNT()" without explicitly writing the SQL query

In [8]:
encounters %>% dplyr::group_by(encounter_type) %>% dplyr::summarize(ct = n()) %>% dplyr::arrange(desc(ct))

# Source:     lazy query [?? x 2]
# Database:   Microsoft SQL Server
#   13.00.5830[@ESMPMDBPR4/CAMP_PMCoE_Projection]
# Ordered by: desc(ct)
   encounter_type         ct
   <chr>               <int>
 1 Office Visit       431080
 2 Appointment         97718
 3 Hospital Encounter  86789
 4 Visit Encounter     62740
 5 Clinical Support    21626
 6 Procedure visit     18256
 7 Results Only         8895
 8 Orders Only          8635
 9 Anti-coag visit      7284
10 Provider Procedure   2987
# ... with more rows

We can of course pull the entire table locally, if we desire, using `dplyr::collect()`

In [9]:
encounters_local = encounters %>% dplyr::collect()
print(encounters_local %>% head(10))

# A tibble: 10 x 4
   osler_id                             encounter_id encounter_type encounter_date
   <chr>                                       <int> <chr>          <dttm>
 1 5303550b-8ed2-42fd-885a-d32b308b05f3        17938 Office Visit   2015-10-10 00:00:00
 2 5303550b-8ed2-42fd-885a-d32b308b05f3       142706 Office Visit   2016-01-24 00:00:00
 3 5303550b-8ed2-42fd-885a-d32b308b05f3       571465 Office Visit   2017-03-19 00:00:00
 4 5303550b-8ed2-42fd-885a-d32b308b05f3       432470 Office Visit   2016-10-22 00:00:00
 5 5303550b-8ed2-42fd-885a-d32b308b05f3       410795 Office Visit   2016-10-01 00:00:00
 6 5303550b-8ed2-42fd-885a-d32b308b05f3       631974 Office Visit   2017-05-08 00:00:00
 7 5303550b-8ed2-42fd-885a-d32b308b05f3       483944 Office Visit   2016-12-10 00:00:00
 8 5303550b-8ed2-42fd-885a-d32b308b05f3       411794 Office Visit   2016-10-03 00:00:00
 9 5303550b-8ed2-42fd-885a-d32b308b05f3       324374 Office Visit   2016-07-11 00:00:00
10 5303550b-8ed2-42fd-885a-d32b308b05f3       705948 Office Visit   2017-07-19 00:00:00

#### Use `query_db()` to submit any sql query directly to the database; by default it returns a lazy tbl

In [10]:
qry <- "SELECT encounter_type, ct = COUNT(*) FROM encounters GROUP BY encounter_type"
query_db(qry, engine=de) %>% dplyr::arrange(desc(ct))

# Source:     SQL [?? x 2]
# Database:   Microsoft SQL Server
#   13.00.5830[@ESMPMDBPR4/CAMP_PMCoE_Projection]
# Ordered by: desc(ct)
   encounter_type         ct
   <chr>               <int>
 1 Office Visit       431080
 2 Appointment         97718
 3 Hospital Encounter  86789
 4 Visit Encounter     62740
 5 Clinical Support    21626
 6 Procedure visit     18256
 7 Results Only         8895
 8 Orders Only          8635
 9 Anti-coag visit      7284
10 Provider Procedure   2987
# ... with more rows

#### Use gen_random_table() to get subset of the identifying variables for a table; the function creates a table on the db, and returns the name of that temp table

In [11]:
random_px = gen_random_table("patients",idvars="osler_id", engine=de)
cat("Name of the newly created table is ", random_px,"\n")

Name of the newly created table is  #iei6rm6n65bvxp6w

### You can feed this table name, just like any other table name, to the `return_table()` function

In [12]:
return_table(random_px, engine=de)

# Source:   table<dbo.#iei6rm6n65bvxp6w> [?? x 1]
# Database: Microsoft SQL Server 13.00.5830[@ESMPMDBPR4/CAMP_PMCoE_Projection]
   osler_id
   <chr>
 1 06241faa-5e35-4dad-b7aa-2058e91593c9
 2 0e27f860-9da4-46f6-9252-5f600d8f556d
 3 0efb9700-17d8-4704-86ae-9264c3e79a83
 4 150b3f97-f376-4063-87e0-2e670291f2e7
 5 24335e4d-5087-4e87-93f7-374e46de12aa
 6 245acfaf-94a8-4053-899d-d68758bb6784
 7 2b963972-eaaf-467a-a41e-097b78f68920
 8 335a15d9-3f22-4904-a39e-6276e6fd800b
 9 3ab1f9f7-dea5-4480-a128-db8411ce0772
10 3c6776db-7416-479f-880b-ecbad70df597
# ... with more rows

### This table of random ids could be used in simple joins, for example, below we get all the rows from the `vitals_weight` table for the osler ids in the `random_px` table.

In [13]:
return_table("vitals_weight", engine=de) %>% 
    dplyr::inner_join(return_table(random_px, engine=de), by="osler_id")

# Source:   lazy query [?? x 7]
# Database: Microsoft SQL Server 13.00.5830[@ESMPMDBPR4/CAMP_PMCoE_Projection]
   osler_id       encounter_id encounter_type admission_date      discharge_date
   <chr>                 <int> <chr>          <dttm>              <dttm>
 1 b9109da7-0a5b~       130103 Office Visit   2016-05-24 00:00:00 NA
 2 b9109da7-0a5b~       426463 Office Visit   2017-03-06 00:00:00 NA
 3 b9109da7-0a5b~       226044 Office Visit   2016-08-28 00:00:00 NA
 4 b9109da7-0a5b~       358798 Office Visit   2017-01-09 00:00:00 NA
 5 b9109da7-0a5b~        72012 Office Visit   2016-03-27 00:00:00 NA
 6 b9109da7-0a5b~       752139 Office Visit   2018-01-31 00:00:00 NA
 7 a15c4ddb-52ce~       689161 Office Visit   2018-02-25 00:00:00 NA
 8 a15c4ddb-52ce~       747765 Office Visit   2018-03-12 00:00:00 NA
 9 afe73c2a-dd53~       560919 Office Visit   2017-09-25 00:00:00 NA
10 afe73c2a-dd53~       368007 Office Visit   2017-03-26 00:00:00 NA
# ... with more rows, and 2 more variables: weight <chr>, weight_date <dttm>